<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <th:block th:include="fragments/head :: head"></th:block>

        <link rel="stylesheet" href="/assets/styles/painel-controle.css" />

        <title>GestãoCash | Painel</title>
    </head>

    <body>
        <div>
            <div class="container-fluid">
                <div class="row flex-nowrap w-auto overflow-hidden">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
                        <div
                            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 logo-d">
                            <img
                                src="https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/logo.png"
                                class="logo-img"
                                alt="logo gestãocash" />
                            <ul
                                class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start menu"
                                id="menu">
                                <li class="nav-item">
                                    <a
                                        href="/painel-controle"
                                        class="nav-link align-middle px-0">
                                        <i class="fs-4 bi-house"></i>
                                        <span class="ms-1 d-none d-sm-inline"
                                            >Home</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="#submenu1"
                                        data-bs-toggle="collapse"
                                        class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-speedometer2"></i>
                                        <span class="ms-1 d-none d-sm-inline"
                                            >Dashboard</span
                                        >
                                    </a>
                                </li>
                                <li></li>

                                <li class="act">
                                    <a
                                        href="#submenu3"
                                        data-bs-toggle="collapse"
                                        class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-grid"></i>
                                        <span class="ms-1 d-none d-sm-inline"
                                            >Cursos</span
                                        >
                                    </a>
                                    <ul
                                        class="collapse nav flex-column ms-1"
                                        id="submenu3"
                                        data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a
                                                href="/painel-controle/curso"
                                                class="nav-link px-0">
                                                Listar</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="/painel-controle/curso/novo"
                                                class="nav-link px-0">
                                                Criar
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a
                                        href="#"
                                        class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-people"></i>
                                        <span class="ms-1 d-none d-sm-inline"
                                            >Customers</span
                                        >
                                    </a>
                                </li>
                            </ul>
                            <hr />
                            <div class="dropdown pb-4">
                                <a
                                    href="#"
                                    class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                    id="dropdownUser1"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img
                                        th:src="|/usuario/imagem/${user.getId()}|"
                                        alt="hugenerd"
                                        onerror="this.src='https://raw.githubusercontent.com/squad22recode/gestaocash_imagens/main/images/user-default.svg';"
                                        width="30"
                                        height="30"
                                        class="rounded-circle" />
                                    <span
                                        class="d-none d-sm-inline mx-1"
                                        th:text="${user.getNome()}"></span>
                                </a>
                                <ul
                                    class="dropdown-menu dropdown-menu-dark text-small shadow"
                                    aria-labelledby="dropdownUser1">
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >Settings</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >Profile</a
                                        >
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/logout"
                                            >Logout</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col px-0 py-5 px-5 d-flex justify-content-center">
                        <main>
                            <h2>Cadastrar curso</h2>
                            <div class="container-form">
                                <form
                                    th:action="@{/cursos/novo}"
                                    th:object="${newCourse}"
                                    method="post">
                                    <div
                                        data-mdb-input-init
                                        class="form-outline mb-4">
                                        <label
                                            class="form-label"
                                            for="form4Example1"
                                            >Nome curso</label
                                        >
                                        <input
                                            type="text"
                                            id="form4Example1"
                                            class="form-control"
                                            th:field="*{nomeCurso}" />
                                    </div>

                                    <div
                                        data-mdb-input-init
                                        class="form-outline mb-4">
                                        <label
                                            class="form-label"
                                            for="form4Example2"
                                            >Media para concluir</label
                                        >
                                        <input
                                            type="number"
                                            id="form4Example2"
                                            class="form-control"
                                            th:field="*{conclusao}" />
                                    </div>
                                    <div
                                        data-mdb-input-init
                                        class="form-outline mb-4">
                                        <label
                                            class="form-label"
                                            for="form4Example2"
                                            >Descrição</label
                                        >
                                        <input
                                            type="text"
                                            id="form4Example2"
                                            class="form-control"
                                            th:field="*{descricao}" />
                                    </div>

                                    <div
                                        data-mdb-input-init
                                        class="form-outline mb-4">
                                        <label
                                            class="form-label"
                                            for="form4Example2"
                                            >Duração</label
                                        >
                                        <input
                                            type="text"
                                            id="form4Example2"
                                            class="form-control"
                                            th:field="*{duracao}" />
                                    </div>
                                    <div
                                        data-mdb-input-init
                                        class="form-outline mb-4">
                                        <label
                                            class="form-label"
                                            for="form4Example2"
                                            >url</label
                                        >
                                        <input
                                            type="text"
                                            id="form4Example2"
                                            class="form-control"
                                            th:field="*{url}" />
                                    </div>

                                    <!-- Submit button -->
                                    <button
                                        data-mdb-ripple-init
                                        type="submit"
                                        class="btn btn-primary btn-block mb-4">
                                        Cadastrar
                                    </button>
                                </form>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>

        <!-- <div th:replace="fragments/footer :: footer"></div> -->
    </body>
</html>
