<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head (title='GestãoCash | Editar receita')}">

	<!-- imports css -->

</head>

<body>
	<!-- Inicio header -->
	<div th:replace="~{fragments/header :: header}"></div>
	<!-- fim header -->
	<style>
		.editBox{
			min-width: 350px;
			max-width: 50%;
			margin: 150px auto;
			padding: 20px;
			-webkit-box-shadow: 0px 0px 38px 6px rgba(186,177,186,0.76);
-moz-box-shadow: 0px 0px 38px 6px rgba(186,177,186,0.76);
box-shadow: 0px 0px 38px 6px rgba(186,177,186,0.76);
			
		}
	</style>
	
	<div class="container editBox">
		
		<form th:object="${revenue}" method="post">

			<div class="mb-3">
				<label for="InputData" class="form-label">Data</label>
				<input type="date" required class="form-control" id="InputData" th:field="*{data}" th:value="${revenue.getData()}">
				<input type="hidden" th:field="*{id}" th:value="${revenue.getId()}"/>
				<input type="hidden" th:field="*{usuario}" th:value="${revenue.usuario.getId()}"/>
			</div>
		
			<div class="mb-3">
				<label for="InputDescricao" class="form-label">Descrição</label>
				<input type="text" class="form-control" id="InputData" th:field="*{descricao}" th:value="${revenue.getDescricao()}">

			</div>
			<div class="mb-3">
				<label for="InputValor" class="form-label">Valor</label>
				<input type="number" required class="form-control" id="InputValor" th:field="*{valor}" step="0.01"
					maxlength="10" placeholder="109.00" th:value="${revenue.getValor()}">

			</div>

			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>
		
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript" th:src="@{/assets/scripts/scripts.js}"></script>
</body>

</html>